<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="form-group">
    <p class="form-control">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    </p>
  </div>

  <div class="form-group">
    <p class="form-control">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
    </p>
  </div>

  <br>

  <p>
  <%= f.submit, class: 'btn btn-secondary' %>
  </p>

<% end %>
